.infos
  h2 Click on boxes<br>to follow the pattern!
  h1 Memory<br>Blocks
  h3.status -
.blocks
  .row
    .block.block1(onclick="game.userSendInput('1')")
    .block.block2(onclick="game.userSendInput('2')")
    .block.block3(onclick="game.userSendInput('3')")
    .block.block4(onclick="game.userSendInput('4')")
  .row
    
    .block.block5(onclick="game.userSendInput('5')")
    .block.block6(onclick="game.userSendInput('6')")
    .block.block7(onclick="game.userSendInput('7')")
  .row
    .inputStatus