.page
  .inputbox
    .mode
      button#stack.modeOn Stack
      button#queue Queue
    span
      input#inputnum(placeholder="insert#")
      button#push Push
    span
      button#pop Pop
  .stack
  .error.error1 Stack is Empty!
  .error.error2 Please insert index!