.game
  .board.b1
  .board.b2
  .ball
  .info
    h2.infotext Start Game
    button.start(onclick="game.startGame()") Start
  //- .time 30
.grade
.how
  .box.left
    i.fas.fa-arrow-up
  .box.right
    i.fas.fa-arrow-up
p Press to move you Bar!